<div class="container-fluid">
    <div class="card cardCadastro">
        <h4 class="card-header mb-3"><img src="https://img.icons8.com/color/48/000000/new-file.png"> Novo Remetente</h4>
        <div class="card-body">
            <form id="add-form" #f="ngForm" (ngSubmit)="saveRemetente(f.value)"> 
                <div class="form-group">
                    <div class="form-row justify-content-center">            
                        <div class="col-md-6 mb-3">
                            <label for="nome">Nome</label>
                            <input type="text" [(ngModel)]="remetente.nome" id="nome"  name="nome" #nome="ngModel" class="form-control" placeholder="Nome completo">
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="cpf">CPF</label>
                            <input type="text" [(ngModel)]="remetente.cpf"  id="cpf" name="cpf" #cpf=ngModel mask="000.000.000-00" [showMaskTyped]="true" class="form-control"  placeholder="Número CPF" >
                        </div>
                    </div>
                    <div class="form-row justify-content-center">
                        <div class="col-md-6 mb-3">
                            <label for="email">Email</label>
                            <input type="text" [(ngModel)]="remetente.email"  id="email" name="email" #email="ngModel" class="form-control" placeholder="exemplo@gmail.com" >
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="telefone">Telefone</label>
                            <input type="text" [(ngModel)]="remetente.telefone" id="telefone" name="telefone" #telefone="ngModel" mask="(00)00000-0000" [showMaskTyped]="true" placeHolderCharacter=" " class="form-control" placeholder="Telefone com prefixo" >
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="botoes">
                            <button type="submit" class="btn btn-success btnSalvar">Salvar</button>
                            <button type="reset" class="btn btn-secondary btnCancelar" (click)="limparForm(f)">Cancelar</button> 
                        </div>
                    </div>
                </div>                                
            </form>
        </div>
    </div>
    <div class="card cardListagem">
        <h4 class="card-header mb-3"><img src="https://img.icons8.com/color/48/000000/list.png"> Remetentes Cadastrados</h4>
        <div class="card-body">
            <form #formListagem=ngForm>
                <table class="table">
                    <thead>
                        <th scope="col">ID</th>
                        <th scope="col">Nome</th>
                        <th scope="col">CPF</th>
                        <th scope="col">Email</th>
                        <th scope="col">Telefone</th>
                        <th scope="col">Opções</th>                        
                    </thead>
                    <tbody>
                        <tr *ngFor="let remetente of arrayRemetente">
                            <td>{{remetente.id}}</td>
                            <td>{{remetente.nome}}</td>
                            <td>{{remetente.cpf}}</td>
                            <td>{{remetente.email}}</td>
                            <td>{{remetente.telefone}}</td>
                            <td>
                                <button type="button" class="btn btn-warning btnEditar" [routerLink]="['/edicao', remetente.id]">Editar</button>
                                <button type="button" class="btn btn-danger btnDeletar" (click)="deletarRemetente(remetente)">Deletar</button>                          
                            </td>
                            
                        </tr>
                    </tbody>
                    <tfoot *ngIf="isEmpty()">Sem entradas                        
                    </tfoot>
                </table>
            </form>
        </div>
    </div>        


</div>
    