.container-fluid{
    background-color: darkgrey;
    padding: 15px;
}

.cardCadastro{    
    margin-top: 50px; 
    margin-left: 400px;
    margin-right: 400px;

}

.cardListagem{    
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

.btn-success{
    margin: 5px;
}

.btn-secondary{
    margin: 5px;
}

.btn-danger{
    margin: 5px;
}

.btn-warning{
    margin: 5px;
}