<div class="jumbotron jumbotron-fluid">
    <div class="card-deck">
        <div class="row col-12 justify-content-center">
          <div class="col-3 ">            
              <div class="card shadow  mb-5 bg-white rounded">                                    
                <div class="card-body">    
                    <a routerLink="/cadastro"><h4 class="card-title"><img title="Arquivo" src="https://img.icons8.com/color/48/000000/opened-folder.png" alt="Sorry"> Remetente</h4></a>                    
                </div>
              </div>            
          </div>
          <div class="col-3 ">            
            <div class="card shadow  mb-5 bg-white rounded">                                    
              <div class="card-body">    
                  <a routerLink="/importacao"> <h4 class="card-title"><img title="Arquivo"  src="https://img.icons8.com/color/48/000000/import-csv.png" alt="Sorry"> Upload Lista de Destinatarios   </h4></a>                    
              </div>
            </div>            
        </div>
        <div class="col-3 ">            
            <div class="card shadow  mb-5 bg-white rounded">                                    
              <div class="card-body">    
                  <a routerLink="/mensagem"> <h4 class="card-title"><img title="Arquivo" src="https://img.icons8.com/color/48/000000/message-group.png" alt="Sorry"> Enviar Mensagem</h4></a>                    
              </div>
            </div>            
        </div>
    </div> 
</div>