<div class="card-deck">
    <div class="row col-12 justify-content-center">
        <div class="col-3 ">
            <div class="card shadow  mb-5 bg-white rounded">
                <div class="card-body">
                    <form #i="ngForm">
                        <div class="form-group">
                            <label for="file">Upload CSV</label><br />
                            <input type="file" id="file" name="file" (change)="onSelection($event)" accept=".csv" /><br/>
                            
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="form-group">
    <label for="file">Choose File</label>
    <input type="file" id="file" (change)="handleFileInput($event.target.files)">
    <button type="button" (click)="uploadFile()">Confirmar</button>
</div>

<div class="Block">
    <label id="lbl">Code </label>
    <input type='file' id="filee" (change)="fileChanged($event)">
    <button type="submit" (click)="print()">Confirmar</button>
  </div>