<div>
    <div class="card cardEdicao">
        <h4 class="card-header mb-3"><img src="https://img.icons8.com/color/48/000000/edit-file.png"> Editar Remetente</h4>
        <div class="card-body">
            <form id="add-form" #f="ngForm" (ngSubmit)="updateRemetente(f.value)"> 
                <div class="form-group">
                    <div class="form-row justify-content-center">            
                        <div class="col-md-4 mb-3">
                            <label for="nome">Nome</label>
                            <input type="text" [(ngModel)]="remetente.nome" id="nome"  name="nome" #nome="ngModel" class="form-control" placeholder="Nome completo">
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="cpf">CPF</label>
                            <input type="text" [(ngModel)]="remetente.cpf"  id="cpf" name="cpf" #cpf=ngModel mask="000.000.000-00" [showMaskTyped]="true" class="form-control"  placeholder="Número CPF" >
                        </div>
                    </div>
                    <div class="form-row justify-content-center">
                        <div class="col-md-4 mb-3">
                            <label for="email">Email</label>
                            <input type="text" [(ngModel)]="remetente.email"  id="email" name="email" #email="ngModel" class="form-control" placeholder="Email" >
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="telefone">Telefone</label>
                            <input type="text" [(ngModel)]="remetente.telefone" id="telefone" name="telefone" #telefone="ngModel" mask="(00)00000-0000" [showMaskTyped]="true" placeHolderCharacter="#" class="form-control" placeholder="Telefone com prefixo" >
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="botoes">
                            <button type="submit" class="btn btn-success btnSalvar">Salvar</button>
                            <button type="reset" class="btn btn-secondary btnCancelar" routerLink="/cadastro">Cancelar</button> 
                        </div>
                    </div>
                </div>                                
            </form>
        </div>
    </div>
</div>
