<div>
  <nav class="navbar sticky-top navbar-dark bg-dark">
    <a class="navbar-brand text-white">HandsOn</a>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active text-white" routerLink="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/cadastro">Remetente</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/importacao">Importar CSV Destinatário</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/mensagem">Enviar Mensagem</a>
      </li>
    </ul>
  </nav>
</div>
<br>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>